<p>formfield works!</p>
<div class= "example-container">
    <mat-form-field>
        <input matInput placeholder="Docente" [formControl] ="Docente" required>
        <mat-hint align="start"></mat-hint>
            </mat-form-field>
       
            <mat-form-field>
                    <input matInput placeholder="Nombre de la Práctica" [formControl] ="" required>
                    <mat-hint align="start"></mat-hint>
      </mat-form-field>
                
        <mat-form-field>
            <mat-select placeholder="Asignatura">
                <mat-option value="option"> Redes</mat-option>
                <mat-option value="option"> Arquitectura</mat-option>
                <mat-option value="option"> Seguridad</mat-option>
            </mat-select>
        </mat-form-field>

</div>
