<br>
<div class="ContenedorCheck">
    <li>
        <mat-checkbox color = "primary">La solicitud tiene Guía de Laboratorio</mat-checkbox>
    </li>
        
    <li>
        <mat-checkbox color = "primary"> Requiere el uso del Laboratorio</mat-checkbox>
    </li>
    <li> 
        <mat-checkbox color = "primary"> Requiere Asistencia del Auxiliar de Laboratorio</mat-checkbox>
    </li>
     <li>
        <mat-checkbox color = "primary">Utiliza máquinas, equipos y/o herammientas (Cantidad y Descripción)</mat-checkbox>
    </li>
    <li>
        <mat-checkbox color = "primary">Utiliza material de consumo (Cantidad y Descripción)</mat-checkbox>
    </li>
</div>
<br>
<div class="ContenedorEstudiantes">
    <mat-form-field class="NuEstudiantes">
            <input matInput placeholder="Número de Estudiantes en la práctica" [formControl] ="" required>
            <mat-hint align="start"></mat-hint>
    </mat-form-field>
</div>