

<div class= "example-container">
    <mat-form-field>
        <input matInput placeholder="Usuario" [formControl] ="" required>
        <mat-hint align="start"></mat-hint>
            </mat-form-field>
                <br>
            <mat-form-field>
                <input matInput placeholder="Contraseña" [formControl] ="" required>
                <mat-hint align="start"></mat-hint>
            </mat-form-field>
                    <div class="ButtonsContainer">
                        <button (click)="Ingresar()" color="" mat-raised-button>Ingresar</button>
                    </div> 
</div>


<router-outlet></router-outlet>





