<p>primero works!</p>

<mat-form-field>
             <input matInput [matDatepicker]="myDatePicker" [matDatepickerFilter]="dateFilter" placeholder="Qué día requiere el Laboratorio?" >
            <mat-datepicker-toggle [for] = "myDatePicker" matSuffix> </mat-datepicker-toggle>
            <mat-datepicker #myDatePicker  > </mat-datepicker>
</mat-form-field>
    
<mat-form-field>
            <mat-select placeholder="Laboratorio">
                <mat-option value="option"> Software Libre</mat-option>
                <mat-option value="option"> Hardware y Redes</mat-option>
                <mat-option value="option"> Linux</mat-option>
            </mat-select>
</mat-form-field>

<mat-form-field>
                <mat-select placeholder="Asignatura">
                         <mat-option value="option"> Redes</mat-option>
                         <mat-option value="option"> Arquitectura</mat-option>
                         <mat-option value="option"> Seguridad</mat-option>
                </mat-select>
</mat-form-field>  


<div class= "example-container">

<mat-form-field>
            <input matInput placeholder="Docente" [formControl] ="Docente" required>
            <mat-hint align="start"></mat-hint>
</mat-form-field>
           
<mat-form-field>
            <input matInput placeholder="Nombre de la Práctica" [formControl] ="" required>
                 <mat-hint align="start"></mat-hint>
</mat-form-field>

<mat-form-field>
        <mat-select placeholder="Facultad">
                 <mat-option value="option"> Ingeniería</mat-option>
                 <mat-option value="option"> Administración</mat-option>
                 <mat-option value="option"> Lenguas</mat-option>
        </mat-select>
</mat-form-field> 
   
                   