<div class="Contenedor">
    <mat-form-field class="aux">
            <input matInput placeholder="Auxiliar de Laboratorio" [formControl] ="" required>
            <mat-hint align="start"></mat-hint>
    </mat-form-field>
    <br>
    //RECIBE = Docente
    <br>
    <mat-form-field class="Observaciones">
        <input matInput placeholder="Observaciones" >
        <mat-hint align="start"></mat-hint>
    </mat-form-field>
    <li>
        <mat-checkbox color ="warn"> 
            Material Pendiente por Responder
            </mat-checkbox>
    </li>
    
    <br> 
    //TIME PICCKER// 
    
    //DOCENTE//
</div>